<div class="mt-3 row container-fluid">
  <!-- Item no início -->
  <div class="col align-self-start btn-dark">
    <app-theme-toggle></app-theme-toggle>
  </div>

  <!-- Item no meio -->
  <div class="col d-flex justify-content-end">
    <div class="row w-100 nav-buttons">
      <div class="col-lg-4 col-md-12 text-center">
        <button type="button" class="btn nav-btn">
          <p>{{ "Sobre" | translate }}</p>
        </button>
      </div>
      <div class="col-lg-4 col-md-12 text-center">
        <button type="button" class="btn nav-btn" (click)="routeApresentation()">
          <p>{{ "Apresentação" | translate }}</p>
        </button>
      </div>
      <div class="col-lg-4 col-md-12 text-center">
        <button type="button" class="btn nav-btn" (click)="routeProjects()">
          <p>{{ "Projetos" | translate }}</p>
        </button>
      </div>
    </div>
  </div>

  <!-- Item no fim -->
  <div class="col d-flex justify-content-end btn-flags">
    <img
      src="assets/brasil.png"
      class="flag-icon"
      alt="Brazil Flag"
      (click)="switchLanguege('pt')"
    />
    <img
      src="assets/usa.png"
      class="flag-icon"
      alt="USA Flag"
      (click)="switchLanguege('en')"
    />
  </div>
</div>
