.container {
  display: flex;
  flex-direction: column; /* Alinha os itens em coluna */
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.name {
  font-family: 'Arial', sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Sombra mais intensa para destacar o texto */
  text-align: center;
  padding: 20px;
}

.job {
  font-family: 'Arial', sans-serif;
  font-size: 24px; /* Tamanho menor que o nome */
  font-weight: normal;
  color: #6e6e6e; /* Cor cinza clara para contraste */
  text-align: center;
  margin-top: -10px; /* Ajuste de margem para aproximar do nome */
}
