/* You can add global styles to this file, and also import other style files */
/* Estilos padrão */
body {
  background-color: #e7e6e6;
  color: #000;
}

/* Estilos para o modo escuro */
body.dark-mode {
  background-color: #343a40;
  color: #fff;
}

/* Exemplo de como alterar outros componentes */
body.dark-mode .navbar {
  background-color: #212529;
}

/* styles.css */

[data-theme="light"] {
  background-color: var(--background-color);
  color: var(--text-color);
}

[data-theme="dark"] {
  background-color: var(--background-color);
  color: var(--text-color);
}
